$peach-main: #C96B6B;
$peach-light: #FBBCBC;
$peach-pale: #FFDFDF;

$terracotta: #9F3838;
$black-bg: #292828;
$red-deep: #894444;

$white: #FFFFFF;
$grey-light: #F0EEEE;
$grey-medium: #C1BCBC;
$grey-dark: #7F7A7A;

$error:         #e74c3c;  
$success:       #2ecc71;  

$font-main: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$fs-large:      96px;
$fs-h1:         64px;
$fs-h2:         48px;  
$fs-h3:         32px;  
$fs-body:       24px;  
$fs-medium:     20px;
$fs-small:      18px;  
$fs-tiny:       16px;  